PROJECT_NAME="Hirely API"
API_V1_STR="/api/v1"
ENVIRONMENT="development"
DEBUG=True

POSTGRES_SERVER="localhost"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres_password"
POSTGRES_DB="hirely_db"
POSTGRES_PORT=5432

REDIS_HOST="localhost"
REDIS_PORT=6379
